{% extends "layout.html" %}
{% load static %}

{% block title %}  
    {{post.name}} POST : {{post.id}}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'posts/detailstyles.css' %}">
{% endblock %}

{% block body %}
    <div class="card-container">
        <div class="post-card">
            <div class="card-image-wrapper">
                <img src="{{post.image.url}}" alt="{{post.image_type}}" class="card-image">
            </div>
            
            <div class="card-content">
                <h2 class="card-name">{{post.name}}</h2>
                <p class="card-description">
                    {{post.description}}
                </p>
                
                <div class="card-likes">
                    <span class="likes-count">{{post.likes}}</span> Likes
                </div>
                
            </div>
        </div>

    </div>
{% endblock %}