{% extends "layout.html" %}
{% load static %}

{% block title %}
        form for multiple post UPLOAD
{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}
    <h2>Create New Posts</h2>

    <form action="{% url 'posts:postformset' %}" method='POST' enctype="multipart/form-data">
        {% csrf_token %}

        {{ postformset.management_form }}
        {{postform.media}}
        {% for form in postformset %}
            {{form.as_p}}
            <hr>
        {% endfor %}
        <input type="submit" value="submit">
    </form>

{% endblock %}